@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.Home {
  position: relative;
  background-image: radial-gradient(farthest-corner at 40px 40px, #50c5ee 60%, rgba(0,212,255, .5) 100%);
  height: calc(100vh - 20px);
  margin: 10px;
  border-radius: 20px;
  font-family: "Exo", sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.Home::before {
  content: "El \Geladon";
  word-break: break-word;
  white-space: pre-wrap;
  max-width: 950px;
  line-height: 90%;
  font-family: "Exo";
  font-size: 5em;
  color: #ffffff;
  mix-blend-mode: soft-light;
  opacity: 0.4;
  position: absolute;
  left: 8px;
  top: 54%;
  transform: translateY(-50%);
  z-index: 1;
}
